<launch>
    <node pkg="wifi_mapping" type="wifi_scanning_node" name="wifi_scanner" output="screen">
        <param  name="interface_name" value="wlan3"/>
        <param  name="scanning_rate" value="0.5"/>
    </node>
    <node pkg="wifi_mapping" type="wifi_mapping_node" name="wifi_gp" output="screen">
        <param  name="wifi_topic" value="/wifi_scanner/wifi_measurement"/>
        <param  name="odometry_topic" value="/robot_pose_ekf/odom"/>
    </node>
</launch>
