<launch>
    <node pkg="wifi_mapping" type="wifi_mapping_node" name="wifi_gp" output="screen">
        <!--param  name="wifi_topic" value="/wifi_scanner/wifi_measurement"/ -->
        <!-- param  name="base_frame_id" value="base_footprint"/ -->
        <!-- param  name="fixed_frame_id" value="map"/ -->
        <param  name="wifi_topic" value="/wifi_measurement"/>
        <param  name="base_frame_id" value="turtle1"/>
        <param  name="fixed_frame_id" value="world"/>
    </node>
</launch>
