<launch>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    <node pkg="wifi_mapping" type="wifi_scanning_node" name="wifi_scanner" output="screen">
        <param  name="interface_name" value="wlan3"/>
        <param  name="scanning_rate" value="0.5"/>
    </node>
    <node pkg="wifi_mapping" type="wifi_mapping_node" name="wifi_gp" output="screen">
        <param  name="wifi_topic" value="/wifi_scanner/wifi_measurement"/>
        <param  name="odometry_topic" value="/robot_pose_ekf/odom"/>
    </node>
    <include file="$(find wifi_mapping)/launch/_gmapping.launch"/>

    <node pkg="rosbag" type="record" name="rosbag_record_wifi"
          args="--output-prefix=/localdata/gamboa/gp_wifi /robot_pose_ekf/odom /wifi_scanner/wifi_measurement" />
    <node pkg="rosbag" type="record" name="rosbag_record_laser"
          args="--output-prefix=/localdata/gamboa/gp_laser /lidar/scan" />
    <node pkg="rosbag" type="record" name="rosbag_record_loc"
          args="--output-prefix=/localdata/gamboa/gp_loc /imu/data /imu/mag /encoder /tf /tf_static" />
</launch>
