<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <node pkg="wifi_mapping" type="wifi_scanning_node" name="wifi_scanner">
        <param  name="interface_name" value="wlan1"/>
    </node>
    <node pkg="hokuyo_node" type="hokuyo_node" name="laser_scanner"/>
    <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0.1 0 0 0 plate_middle_link laser 100"/>
</launch>
